section{
    border: 2px solid red;
}

.estadio{
    display: flex;
    align-items: center; /*alinhamento do eixo trasversal*/
    justify-content: center; /*alinhamento do eixo principal*/
    gap: 2rem; /*espaçamento entre os elementos do display flex*/

    margin-bottom: 2rem;
}

.estadio img{
    width: 20rem;
}

.estadio p{
    width: 30rem;
    text-align: center;
}

.escudo{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 4rem;

    margin-bottom: 1rem;
}

.escudo img{
    width: 20rem;
}

.escudo p{
    width: 30rem;
    text-align: center;
}

.formulario{
    padding: 1rem;

    display: flex;
    justify-content: center;
}

.formulario div{
    display: flex;
    flex-direction: column;
}

.formulario form{
    width: 30rem;
}